{% extends 'base.html' %}
{% block content %}

<div class="h-screen bg-gray-900 flex justify-center items-center">
    <div class="relative h-full sm:h-[90vh] w-full sm:max-w-96 bg-white rounded-lg overflow-hidden">
        <div class="h-16 bg-gray-100 flex items-center justify-between px-6">
            <button><i class="fa-solid fa-user text-yellow-400"></i></button>
            <button><i class="fa-solid fa-magnifying-glass"></i></button>
            <h1 class="text-2xl font-bold">Chat</h1>
            <button><i class="fa-regular fa-bell"></i></button>
            <button><i class="fa-solid fa-user-plus text-yellow-400"></i></button>
            <button><i class="fa-solid fa-ellipsis"></i></button>
        </div>

        <div class="overflow-y-auto h-[calc(100%-8rem)]">
            <div class="flex items-center justify-between px-4 py-3 hover:bg-gray-100 cursor-pointer">

                <div class="flex items-center gap-3">
                    <img src="https://i.pinimg.com/736x/4a/32/dc/4a32dc90de96d69cea42a1d6280e3598.jpg"
                        class="w-14 h-14 rounded-full object-cover">

                    <div>
                        <h2 class="text-2xl font-bold">Akarsh</h2>

                        <div class="flex items-center gap-2 text-gray-500">
                            <i class="fa-regular fa-message text-blue-400"></i>
                            <span>Messages  1m</span>
                        </div>
                    </div>
                </div>

                <button>
                    <i class="fa-solid fa-camera text-2xl"></i>
                </button>

            </div>

            <div class="flex items-center justify-between px-4 py-3 hover:bg-gray-100 cursor-pointer">
                <div class="flex items-center gap-3">
                    <img src="https://i.pinimg.com/736x/4a/32/dc/4a32dc90de96d69cea42a1d6280e3598.jpg"
                        class="w-14 h-14 rounded-full">
                    <div>
                        <h2 class="text-2xl font-bold">Ram</h2>
                        <div class="flex items-center gap-2 text-gray-500">
                            <i class="fa-regular fa-message text-blue-400"></i>
                            <span>Received  5m</span>
                        </div>
                    </div>
                </div>
                <button>
                    <i class="fa-solid fa-camera text-2xl"></i>
                </button>
            </div>

            <div class="flex items-center justify-between px-4 py-3 hover:bg-gray-100 cursor-pointer">
                <div class="flex items-center gap-3">
                    <img src="https://i.pinimg.com/736x/4a/32/dc/4a32dc90de96d69cea42a1d6280e3598.jpg"
                        class="w-14 h-14 rounded-full">
                    <div>
                        <h2 class="text-2xl font-bold">Shyam</h2>
                        <div class="flex items-center gap-2 text-gray-500">
                            <i class="fa-regular fa-message text-blue-400"></i>
                            <span>Opened  10m</span>
                        </div>
                    </div>
                </div>
                <button>
                    <i class="fa-solid fa-camera text-2xl"></i>
                </button>
            </div>

            <div class="flex items-center justify-between px-4 py-3 hover:bg-gray-100 cursor-pointer">
                <div class="flex items-center gap-3">
                    <img src="https://i.pinimg.com/736x/4a/32/dc/4a32dc90de96d69cea42a1d6280e3598.jpg"
                        class="w-14 h-14 rounded-full">
                    <div>
                        <h2 class="text-2xl font-bold">Karan</h2>
                        <div class="flex items-center gap-2 text-gray-500">
                            <i class="fa-regular fa-message text-blue-400"></i>
                            <span>Delivered  15m</span>
                        </div>
                    </div>
                </div>
                <button>
                    <i class="fa-solid fa-camera text-2xl"></i>
                </button>
            </div>
        </div>

        <div class="absolute bottom-0 left-0 right-0 h-16 bg-black flex items-center justify-around text-white">
            <button><i class="fa-solid fa-location-dot text-xl"></i></button>
            <button><i class="fa-solid fa-camera text-xl"></i></button>
            <button><i class="fa-solid fa-user text-xl"></i></button>
            <button><i class="fa-solid fa-user-group text-xl"></i></button>
        </div>
    </div>
</div>

{% endblock %}